@font-face {
  font-family: "SC-Regular";
  src: url("fonts/CircularSpUIv3T-Black.woff2") format("woff2");
}

@font-face {
  font-family: "SC-Bold";
  src: url("fonts/CircularSpUIv3T-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SC-Book";
  src: url("fonts/CircularSpUIv3T-Book.woff2") format("woff2");
}

@font-face {
  font-family: "SC-Light";
  src: url("fonts/CircularSpUIv3T-Light.woff2") format("woff2");
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgb(56, 84, 97),
      rgb(0, 0, 0)
    ),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
  -webkit-font-smoothing: antialiased;
}

#search {
  display: flex;
  justify-content: center;
  font-family: "SC-Book", sans-serif;
}

#search-field {
  background-color: #191414;
  border-color: #1db954;
  color: white;
}

#search button {
  background-color: #1db954;
  border-color: #1db954;
}

#search button:hover {
  opacity: 0.8;
}

#search button:active {
  opacity: 1;
}

#content-list {
  display: flex;
  justify-content: flex-start;
}

.list-view {
  width: 50%;
  box-sizing: border-box;
  padding: 40px;
}

.list-view h1 {
  font-family: "SC-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 0.25em;
  color: white;
  padding-left: 20px;
}
